.footer{
    background: #2F303A;
padding-top: 60px;
padding-bottom: 60px;

@media (min-width: 1200px)
        {
    
         position: relative;
        }


&__box{
@media (min-width: 768px)
{
   
    display: flex; 
    flex-wrap: wrap;
}

@media (min-width: 1200px)
       {
        
        flex-wrap:nowrap;
       }
}       
    
&__adres{
        text-align: center;
        margin-bottom: 60px;
        
        @media (min-width: 768px)
{
   
    padding-left: 76px;
} 
   
       @media (min-width: 1200px)
       {
        padding-left: 0;
        margin-bottom: 20px;
          text-align: left;
       }
    }
    
    
}

.adres{
    display: block; 
    margin-top: 20px;
   


    
&__blok{
    font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--color-button) ;
text-decoration: none;

}
&__list{
    font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
text-decoration: none;
list-style-type: none;
padding: 0;

}

&__link{
    margin-top: 10px;
}
}
.social-blok{
    
    @media (min-width: 768px)
    {
       
        margin-left: 165px;
        
    } 

    @media (min-width: 1200px)
    {
     padding: 0;
     
     margin-left: 70px;
     margin-top: 15px;
    }
    
    
}
.footer-title{
   
    font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-button);
text-align: center;

    @media (min-width: 1200px)
    {
        justify-content: left;
    }

}




.footer-social{
   
    margin-top : 20px;

     &__list{
        display: flex;
        gap: 10px;
        align-items: center; 
        justify-content: center;
       
    }
    &__link{
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
        transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__link:hover,
    &__link:focus{
        background: var(--color-logo)
    }
    &__icon{
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        fill: var(--color-button);
    }
}



.email{

    display: block;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    @media (min-width: 768px)
    {
        
        margin: 0;
        margin-left: 159px;
        margin-right: 159px;
       
    }

    @media (min-width: 1200px)
    {
    
    margin-right: 0;
        margin-left: 93px;
        margin-top: 23px;
        
    }

   &__box{
        
        margin-top: 20px;
        
        @media (min-width: 768px)
    {
        display: flex;
        align-items: center;
    justify-content: center;
       
    }


    @media (min-width: 1200px)
    {
     display: inline-block;
     
    }
    }
    &__input{
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2F303A;
    padding: 16px 15px;
    outline: none;
    color: var(--color-button);
    
    
    @media (min-width: 1200px)
    {
        width: 358px;
    
    }
    }

}


