.header{
    border-bottom: 1px solid #ECECEC;
    
  
    

   &__menu{
        display: flex;
        flex-grow: 1;
        align-items: center;
        
    }

 
}


.navigation{
    display: flex;
    flex-grow: 1;
    align-items: center;
     
    
  &__list{
        list-style-type: none;
        display: none; 
        gap: 50px;
        font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style-type: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media (min-width: 768px)
    {
     
     display: flex;
     margin-left: 88px;
    }
 
    @media (min-width: 1200px){
     flex-wrap:nowrap;
    }
    
    
}
    
  &__link
    {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style-type: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    @media (min-width: 768px){
        display: block;
       padding-top: 32px;
       padding-bottom: 32px;
       }
}
    &__link:hover,
    &__link:focus{
        color: var(--color-logo);
        font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    cursor: pointer ;
    }
    &__link-activ{
        position: relative;
        color: var(--color-logo);
    text-decoration: none;
    cursor: pointer;

    @media (min-width: 1200px){
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        }
    
    }
   &__link-activ::after{
    
    content: "";
    width: 100%;
    height: 4px;
    background: var(--color-logo);
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    }

}

.contact{
    display: flex;
    @media (max-width:767px){
        display: none;       
    }   
    &__list{

        @media (min-width: 768px)
        {
            display: block;
            fill: var(--color-ligt);
            cursor: pointer;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            margin: 0;
            padding: 21px 0;
        }
     
        @media (min-width: 1200px){
            display: flex;
            gap: 10px;
            padding: 0;
       
        }
        
        
    }
    
    &__link{

        @media (min-width: 768px)
        {
            display: block;
            font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.02em;
       
        font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--color-ligt);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}
    
    }
    
    &__link-indent
    {
        @media (min-width: 768px)
        {
            margin-bottom: 10px;
        }

        @media (min-width: 1200px){
            margin-bottom: 0;
            
           }
        
    }

    &__link:hover,
    &__link:focus
    {
    color: var(--color-logo);
    fill: var(--color-logo);
    }
    
    &__icon{
        width: 30px;
        height: 16px;
       fill: currentColor;
       margin-right: 10px;
       transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
}

