.section-aside{
    max-width: 1600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient( 
        to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
     url(../images/Imgfon@1x.jpg) ;
     margin-bottom: 60px;

    @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
 screen and (min-resolution: 192dpi) and (max-width: 767px),
 screen and (min-resolution: 2dppx) and (max-width: 767px) {
 background-image: linear-gradient( 
    to right,
rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)), 
  url(‘../images/Imgfon@2x.jpg’);
 }

 @media (min-width: 768px)
    {
        background-image: linear-gradient( 
            to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
         url(../images/Imgfon@1x.jpg) ;
         margin-bottom: 60px;}
    
        @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
     screen and (min-resolution: 192dpi) and (max-width: 767px),
     screen and (min-resolution: 2dppx) and (max-width: 767px) {
     background-image: linear-gradient( 
        to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
      url(‘../images/Imgfon@2x.jpg’);
    }

 @media (min-width: 1200px)
 {
     height: 600px;
     margin-bottom: 94px;
     background-image: linear-gradient( 
            to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
         url(../images/Imgfon@1x.jpg) ;
         margin-bottom: 60px;}
    
        @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
     screen and (min-resolution: 192dpi) and (max-width: 767px),
     screen and (min-resolution: 2dppx) and (max-width: 767px) {
     background-image: linear-gradient( 
        to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
      url(‘../images/Imgfon@2x.jpg’);
 }
}  
     


.modal-box__title{
    
font-weight: 900;
padding-top: 120px;
 font-size: 26px;
line-height: 1.62;
width: 360px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--color-button);
margin-right: auto;
margin-left: auto;
margin-bottom:30px ;



    @media (min-width: 1200px)
    {
        padding-top: 200px;
font-size: 44px;
line-height: 1.36;
width: 700px;
        
    }
    

}

/*секція друга*/

.aside
{
     display: block;
     padding: 0;
    
    @media (min-width: 768px)
    {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

 &__link{
    width: 450px;

    @media (min-width: 768px)
    {
      width: 354px;  
    }

    @media (min-width: 1200px){
        width: 270px; 
    }
 }   


     
 &__img{
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;  
    margin-bottom: 30px;
}


 &__icon{
    position: absolute;
    margin-left: 190px;
    margin-top: 25px;
    @media (min-width: 768px)
    {
        margin-left: 142px;
    }

    @media (min-width: 1200px){
        margin-left: 100px;
    }
    }

&__title{
    
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-title);
padding-bottom: 10px;
text-align: center;

 @media (min-width: 768px)
    {
       text-align: left;
    }

}
&__text{
    font-family: 'Roboto';
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--color-ligt);
}
  }



/*секция третя*/

.container-benefits{
    max-width: 480px;
    display: none;
    padding-left: 15px;
    padding-right: 15px;
   margin: 0;
   margin-left: auto;
   margin-right: auto;


    @media (min-width: 1200px){
        display: block;
        max-width: 1200px;
    }
   
}

.benefits{
    list-style-type: none; 
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 30px;
    

    &__link{
        position: relative;
        }
    &__text{
        height: 70px;
        width: 370px;
        background: rgba(47, 48, 58, 0.8);
        position: absolute;
        bottom: 0;
        font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-button);
    text-transform: uppercase;
    padding-top: 27px;
         }
}

     .title{
   
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--color-title);
        margin-bottom: 50px;
        }
/*секція четверта*/

.section-name{
    padding-bottom: 60px;
    background: #F5F4FA;

    
    @media (min-width: 1200px){
        padding-bottom: 94px;
    }
   
}

.container-name{
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
   margin: 0;
   margin-left: auto;
   margin-right: auto;

   @media (min-width: 768px)
   {
    max-width: 768px;
   }

   @media (min-width: 1200px){
    max-width: 1200px;
   }
   
}
.title-name{
    font-size: 28px;
line-height: 1.179;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-title);
    margin-bottom: 30px;
    padding-top: 60px;  

    @media (min-width: 1200px){
         font-size: 36px;
    line-height: 1.16;
        padding-top: 94px; 
         margin-bottom: 50px;
    }
}

.card{
    list-style-type: none; 
    display: block;
   
    padding: 0;
    
    
    @media (min-width: 768px)
   {
    
    display: flex;
    flex-wrap: wrap;
     gap: 30px;
   }

   @media (min-width: 1200px){
    flex-wrap:nowrap;
   }

   
   &__link{
    
        background: var(--color-button);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        
        
    }
    &__name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-title);
    padding-top: 30px;
    }
    &__post{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-ligt);
    padding-top: 10px;
    }
}
 

.social{
    display: block;
      padding-top: 16px;
      padding-left: 122px;
      padding-right: 122px;

      @media (min-width: 768px)
      {
        padding-left: 74px;
        padding-right: 74px;
       
      }
   
      @media (min-width: 1200px){
        
        padding-left: 32px;
        padding-right: 32px;
      }

  &__list{
        padding-bottom: 30px;
        display: flex;
        gap: 10px;
   
     }
    
   &__link{
        width: 44px;
        height: 44px;
        border: none;
     }
     
   &__item{
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        fill: var(--color-icon);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }
     &__item:hover,
     &__item:focus{
        border-radius: 50%;
        background: var(--color-logo);
        fill: var(--color-button);
     }


 }


/*секція п.ята*/

.title-client{
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-title);
    margin-bottom: 50px;
    padding-top: 94px;  
}

.client{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;

   @media (min-width: 1200px){
    flex-wrap:nowrap;
   }
   
  
    &__item{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
       fill: var(--color-icon);
       transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), 
       border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    }
    &__item:hover,
    &__item:focus{
        fill: var(--color-logo);
        border: 1px solid var(--color-logo);
    border-radius: 4px;
    
    }
    
    &__link{
        display: block;
        width: 210px;
        height: 90px;
       border: 1px solid #AFB1B8;
    border-radius: 4px;
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
      @media (min-width: 768px)
      {
     max-width: 226px;
       
      }
   
      @media (min-width: 1200px){
        width: 170px;
        
      }

    
    }


    &__link:hover,
    &__link:focus{
    border: 1px solid var(--color-logo);
    border-radius: 4px;
    fill: var(--color-logo);
    }
    

}
