.section-aside{
    max-width: 1600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient( 
        to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
     url(../images/Imgfon@1x.jpg) ;
     padding-top: 118px ;
     padding-bottom: 118px;
   

    @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
 screen and (min-resolution: 192dpi) and (max-width: 767px),
 screen and (min-resolution: 2dppx) and (max-width: 767px) {
 background-image: linear-gradient( 
    to right,
rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)), 
  url(‘../images/Imgfon@2x.jpg’);
 }

 @media (min-width: 768px)
    {
        background-image: linear-gradient( 
            to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
         url(../images/Imgfon@1x.jpg) ;
        }
    
        @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
     screen and (min-resolution: 192dpi) and (max-width: 767px),
     screen and (min-resolution: 2dppx) and (max-width: 767px) {
     background-image: linear-gradient( 
        to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
      url(‘../images/Imgfon@2x.jpg’);
    }

 @media (min-width: 1200px)
 {
     height: 600px;
     padding-top: 200px ;
     padding-bottom: 200px;
     background-image: linear-gradient( 
            to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
         url(../images/Imgfon@1x.jpg) ;
         }
    
        @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
     screen and (min-resolution: 192dpi) and (max-width: 767px),
     screen and (min-resolution: 2dppx) and (max-width: 767px) {
     background-image: linear-gradient( 
        to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
      url(‘../images/Imgfon@2x.jpg’);
 }
}  
     


.modal-box__title{
    
font-weight: 900;
 font-size: 26px;
line-height: 1.62;
width: 360px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--color-button);
margin-right: auto;
margin-left: auto;
margin-bottom:30px ;



    @media (min-width: 1200px)
    {
        
font-size: 44px;
line-height: 1.36;
width: 700px;
        
    }
    

}

/*секція друга*/

.section-icon{
    padding-bottom: 60px;
    padding-top: 60px;
    

    @media (min-width: 1200px)
    {
        padding-bottom: 94px;
       padding-top: 94px;
    }
}

.aside
{
     display: block;
     padding: 0;
    
    @media (min-width: 768px)
    {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

 &__link{
    margin-bottom: 30px;

    @media (min-width: 768px)
    {
      width: 354px;  
    }

    @media (min-width: 1200px){
        width: 270px; 
        margin: 0;
    }

 }
     
 &__img{
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;  
    margin-bottom: 30px;
    display: flex;
    align-items: center;
        justify-content: center;
}


 
&__title{
    
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-title);
margin-bottom: 10px;
text-align: center;

 @media (min-width: 768px)
    {
       text-align: left;
    }

}
&__text{
    font-family: 'Roboto';
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--color-ligt);
}
  }



/*секция третя*/

.container-benefits{
    max-width: 480px;
    display: none;
    padding-left: 15px;
    padding-right: 15px;
   margin: 0;
   margin-left: auto;
   margin-right: auto;


    @media (min-width: 1200px){
        display: block;
        max-width: 1200px;
    }
   
}

.benefits{
    list-style-type: none; 
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 30px;
    

    &__link{
        position: relative;
        }
    &__text{
        height: 70px;
        width: 100%;
        background: rgba(47, 48, 58, 0.8);
        position: absolute;
        bottom: 0;
        font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-button);
    text-transform: uppercase;
    display: flex;
    align-items: center;
   justify-content: center;
         }
}

     .title{
   
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--color-title);
        margin-bottom: 50px;
        }
/*секція четверта*/

.section-name{
    padding-bottom: 60px;
    padding-top: 60px;
    background: #F5F4FA;

    
    @media (min-width: 1200px){
        padding-bottom: 94px;
        padding-top: 94px;
    }
   
}

.container-name{
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
   
   margin-left: auto;
   margin-right: auto;

   @media (min-width: 768px)
   {
    max-width: 768px;
   }

   @media (min-width: 1200px){
    max-width: 1200px;
   }
   
}
.title-name{
    font-size: 28px;
line-height: 1.179;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-title);
    
    @media (min-width: 768px){
              
        margin-bottom: 30px;
   }

    @media (min-width: 1200px){
         font-size: 36px;
    line-height: 1.16;
       
         margin-bottom: 50px;
    }
}

.info{
    padding-top: 30px;
    padding-bottom: 24px;

    @media (min-width: 1200px){
        padding-bottom: 30px;
       }
}
.card{
    list-style-type: none; 
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
    @media (min-width: 768px)
   {
   
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
     gap: 30px;
   }

   @media (min-width: 1200px){
    flex-wrap:nowrap;
   }

   
   &__link{
    width: 100%;
        background: var(--color-button);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        margin-top: 30px;
        @media (min-width: 768px)
   {
    width: 354px;
margin: 0;
   }
        
    }
    &__name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-title);
    
    }
    &__post{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-ligt);
    margin-top: 10px;
    }
}
 


.social{
    display: block;
      margin-top: 16px;
      

  &__list{
        
        display: flex;
        gap: 10px;
   justify-content: center;
   
     }
    
   &__link{
        width: 44px;
        height: 44px;
     }
     
   &__item{
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        fill: var(--color-icon);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }
     &__item:hover,
     &__item:focus{
        border-radius: 50%;
        background: var(--color-logo);
        fill: var(--color-button);
     }


 }


/*секція п.ята*/

.section-client{
    padding-top: 60px;
    padding-bottom: 60px;

    @media (min-width: 1200px){
        padding-top: 94px;
    padding-bottom: 94px;
       }
}

.title-client{
    font-size: 28px;
line-height: 1.179;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-title);
    margin-bottom: 50px;

    @media (min-width: 1200px){
        font-size: 36px;
        line-height: 1.16;
       }
   
}

.client{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;

   @media (min-width: 1200px){
    flex-wrap:nowrap;
   }
   
  
    &__item{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
       fill: var(--color-icon);
       border: 1px solid #AFB1B8;
    border-radius: 4px;
       transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), 
       border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    }
    &__item:hover,
    &__item:focus{
        fill: var(--color-logo);
        border: 1px solid var(--color-logo);
    border-radius: 4px;
    
    }
    
    &__link{
        
        width: calc(( 100% - 30px) /2);
        height: 90px;
    
        
      @media (min-width: 768px)
      {
        width: calc(( 100% - 60px) /3);
       
      }
   
      @media (min-width: 1200px){
        width: 170px;
        
      }

    
    }   

}
