.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    padding-top: 8px;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
 
    
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px 0;
   height: 100%;
   margin-top: 94px;
   @media (min-width: 768px)
   {
    margin-top: 208px;
   
   }

   @media (min-width: 1200px){
    margin-top: 221px;
    
   }
   
   &__container{
    position: relative;
max-width: 450px;
width: 100%;
   max-height: 609px;
   height: 100%;
   padding: 40px;
    background: var(--color-button);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow-y: scroll;

  @media (min-width: 1200px)
    {
        max-width: 528px;
        max-height: 581px;
        
    }
}

&__title{
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--color-title);
    margin-bottom: 15px;
}
}


.form-field-label{
    font-size: 12px;
line-height: 1,167;
letter-spacing: 0.01em;
color: var(--color-ligt);

}

.form-field{
    position: relative;
    margin-bottom: 10px;

    &__input{
        height: 40px;
        width: 100%;
        padding: 0 12px 0 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: none;
        margin-top: 4px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
   &__input:focus{
        border-color: var(--color-logo);
    }         
        &__input:focus-within+ &__icon {
        
        fill: var(--color-logo); 
    }     
    &__icon{
        position: absolute;
        top: 50%;
        left: 12px;
        fill: var(--color-title);
        transform: translateY(-50%);     
             
}
}
    

.form-field-textarea{
    height: 120px;
width: 100%;
padding: 16px 12px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
margin-top: 4px;
outline: none;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:focus{
    border-color: var(--color-logo); 
}
&::placeholder{
    font-size: 12px;
line-height: 1.16;
color: rgba(117, 117, 117, 0.5);
}

}


.checkbox{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
color: var(--color-ligt);
padding: 20px 10px 30px;

&__form{
    appearance: none;
    
}
&__icon{
    position: absolute;
    border: 2px solid var(--color-title);
    border-radius: 2px;
    fill: transparent;
    margin-right: 7px;
}
&__form:checked + &__icon{
    background: var(--color-logo);
    border-color: var(--color-logo);
    fill: var(--color-button);
}
&__text{
    text-decoration:underline;
    color: var(--color-logo);
}
&__label{
    padding-left: 25px;
    position: relative;
}

}

