
*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
    color: #000;
    
}
    
   

    img{
        display: block;
       
        height: auto;
        font-style: normal;
    }
    
    address {
        font-style: normal;
    }
    
     textarea{
        resize: none;
    }